/* Do not change any line marked -keep- */

html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */

}
* {
    box-sizing: inherit; /* keep */
}
body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background: #5598b2; /* keep */
    color: #333; /* keep */
    margin: 0; /* keep */
}
h1, h2 {
    font-family: 'Piazzolla', Times, serif;
}
#tagline {
    font-style: italic;
}
/* all images will stretch to fill their containing element */
img {
    display: block; /* keep */
    width: 100%; /* keep */
}

/* In the grid container below, you will change the columns,
    the rows, and the AREAS to layout the page as instructed
    in the assignment. After it matches the wide example, you will
    write a media query with CSS rules to change the
    layout to match the phone layout example.
    */

/* grid container */
#container {
    max-width: 1280px; /* keep */
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns:  auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header         header       header       header       header"
        "pairing        pairing      pairing       arial        georgia"
        "bobwhite-quail bobwhite-quail   readability  readability readability "
        "bobwhite-quail bobwhite-quail   line-length  line-length line-length"
        "typeface       typeface     typeface     helvetica  helvetica"
        "typeface       typeface     typeface     .          .      "
        "footer         footer          footer    footer      footer";
}

/* all grid items -
    these are the 10 direct children of the container
    - all the grid items are here already!
    You may add lines as needed. Do not change any line marked -keep-
    */

header {
    grid-area: header; /* keep */
    background: #fff; /* keep */
    padding: 3em;
    font-size: 1.5rem;
}
header p {
  text-align: center;
}
header h1 {
  text-align: center;
  font-weight: 500;
}
#arial {
    grid-area: arial; /* keep */
    background: #a8e8ff; /* keep */
    margin: 0;
    padding: 2.5rem 1rem 2.5rem 1rem;

}
#georgia {
    grid-area: georgia; /* keep */
    background: #a8e8ff; /* keep */
    padding: 2.5rem 2rem 2.5rem .5rem;;
  }

#pairing {
    grid-area: pairing; /* keep */
    background: #a8e8ff; /* keep */
    padding: 3rem;
    margin: 0;
    line-height: 2rem;
    font-size:large;
}

#bobwhite-quail {
    grid-area: bobwhite-quail; /* keep */
    background: #d2f4ff; /* keep */
    padding: 4rem;

}
#readability {
    grid-area: readability; /* keep */
    background: #d2f4ff; /* keep */
    padding-top: 2rem;
    padding-right: 3rem;
}

#line-length {
    grid-area: line-length; /* keep */
    background: #d2f4ff; /* keep */
    padding-bottom:5rem;
    padding-right: 3rem;
}
#helvetica {
    grid-area: helvetica; /* keep */
    background: #fff; /* keep */
    padding: 4rem;
    margin: 5rem;

}
#typeface {
    grid-area: typeface; /* keep */
    color: #d2f4ff; /* keep */
    background: #5598b2; /* keep */
    padding: 2rem;
    font-size: large;
    text-shadow: 1px 1px 2px #666;
}
footer {
    grid-area: footer; /* keep */
    background: #b2988a; /* keep */
    padding: 1rem;
}
footer p {
  text-align: center;
}
/* end of all 10 grid items */


/* pseudo classes */
a {
    color: #7c6a60; /* keep */
}
a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */
@media screen and (max-width: 700px) {
  #grid-container {
    grid-template-columns:  2fr;
    grid-template-rows: 9fr;
    grid-template-areas:
        "header          header"
        "pairing         pairing"
        "arial           georgia"
        "bobwhite-quail  bobwhite-quail"
        "readability     readability"
        "line-length     line-length"
        "helvetica       helvetica"
        "typeface        typeface"
        "footer          footer";
  }

  header img {
    display: none
  }
}
